body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}


/* General styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    position: relative;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(100px);
    font-size: 24px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 70px;
    width: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 48px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.event-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.date {
    color: #666;
    margin-bottom: 10px;
}

.register-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.register-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}


/* Scrollable container */

#scrollable-container {
    height: 300px;
    overflow-y: auto;
}


/* Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}